body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    background-image: url(../img/best-places-stay-palawan_LEAD.jpg);
    background-size: 1500px
     }
   

    h1 {
        margin-top: 5px;
        margin-bottom: 60px;
        font-size: 60px;
        font-weight: normal;
        text-align: center;
        color: white;
        text-shadow: 10px 10px 10px black;
        font-family: 'Monoton', cursive;
        }

    form div {
        padding-top: 10px;
        padding-bottom: 10px;
        
        
        
        
        
}

label {
    cursor: pointer;
    color: white;
    text-shadow: 5px 5px 5px black;
    
}

.wide-label {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
}

input[type="submit"] {
    background: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'BenchNine', sans-serif;
    padding: 10px;
    cursor: pointer;

}

input[type="text"], textarea, input[type="tel"], select {
    width: 20%;
    display: inline-block;
}

i {
    font-size: 30px;
    margin-right: 25px;
    margin-top: 25px;
    cursor: pointer;
    margin-bottom: 50px;
    
}

.socialmediabg {
    background-image: url(../img/navy_blue_@2X.png);
    height: 60px;
    padding-bottom: 15px;
    
}

.socialmediabg i {
    color: white;
    padding-bottom: 30px;
    
    
   
}



